@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,400&family=Poppins:wght@300;500&display=swap');

*{
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --primary:#93C5FD;
    --secondary:#5e2844;
    --gray: #3730A3;
    --white:#ffff;
}

body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

}

hr{
    margin: 2rem 0;
}

/* px, em, rem0 */

/* containers */

 /* classs=repeatable call the class on multiple elemnts  , not used for linking,id= not replaceble, only once it used,used for linking*/
#title{
    font-size: 2rem;
}
.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container{
    margin: auto; 
    padding-left: 1rem;
    padding-right: 1 rem;
    max-width: 600px;
}

/* links */
.Links{
    min-width: 140px;
    max-width: max-content;
    padding:0.5rem 1rem;
    margin:0.5rem;
    text-decoration:none;
}

.primary-Link{
    color: var(--gray) ;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem ;
}

.secondary-Link{
    color: var(--white) ;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem ;
}